.square {
  background: grey;
  border: 1px solid #999;
  float: left;
  text-align: center;
  font-size: 0%;
  font-weight: bold;
  margin-right: 1%;
  margin-top: 1%;
  padding: 0;
  height: 100%;
  border-radius: 20%;
  margin: 0 auto;
  outline: none;
  display: table-cell;
  flex-grow: 1;

}

.square.black {
  background: black;
}

.square.grey {
  background: white;
}

.square:hover {
  background-color: burlywood;
}

.game {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row; 
  width: 70vh;
  height: 80vh;
 }
 .board {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
 }
 
 .board-row {
   position: relative;
   padding-top: 0;
   display: flex;
   flex-direction: row;
 }

 .reset {
   left: 20%;
   width: 20%;
   height: 5%;
   font-size: 100%;
   position: relative;
   border-radius: 12%;
   margin-bottom: 1%;
   outline: none;
 }